body {
					  width: 100%;
					  background-image: url(https://bridgesandballoons.com/Images/2020/05/Jungle-Theme-Bedroom-15-788x584.jpg);
					  background-repeat: no-repeat;
					  background-color: yellow;
					  background-position: center;
					}